@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
html,body{
  height: 100%;
  width: 100%;
}

#main{
  /* position relative se jo pages hai wo overlap nai karenge */
  position: relative;
  overflow: hidden; /* excess chize jo bhi bahar jaa rahi hai use hide kar dega*/
}


/* page */

#page{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

#page nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
  
#page nav h3{
  padding-left: 10%;
  font-weight: 450;
  font-size: 1.5vw;
}

#page nav #grp{
  padding-right: 10%;
}

#page #grp{
  display: flex;
}

#grp p,#b,#bb{
  margin: 1vw;
  font-weight: 350;

  
}

#grp button{
  padding: 0.3vw;
  border: 1px solid black;
  border-radius: 50px;
  border: none;
}
#b{
  background-color: #fff;
  padding: 0.2vw 1vw !important;
}

#bb{
  background-color: rgb(5, 146, 222);
  color: #f2ebeb;
  padding: 0.2vw 1vw !important; 
  border: none !important;
}
#b:hover{
  background-color: black;
  color: #fff;
}

#page #v1{
  display: block;
  height: 100%;
  width: 65%;
  object-fit: contain;
  position: absolute;
  top:1%;
  left: 50%;
  transform: translateX(-50%);
}
#page-bottom{
  height: 25%;
  width: 25%;
  /* background-color: green; */
  position: absolute;
  top: 72%;
  transform: translateX(-50%) ;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
#page-bottom #vision{
  width: 23vw;
  /* top: -2%; */
}

#page-bottom #demo{
  font-size: 1.3vw;
  font-weight: 520;
  text-align: center;
}

#demo1{
  padding-top: 6vh
}
  
#page-bottom #demo1 p a{
  color: #ff5a00;
  text-decoration: none;
  
}
#page-bottom #demo1 p{
  padding: 0.5vh;
}



/* page1 */

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 18, 18); 
  overflow: hidden;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Keep video behind text */
}

#saman {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 135%);
  text-align: center;
  z-index: 99;  
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#saman p {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 10px 0;
  text-align: center; 
  width: 70%;
  margin-bottom: 2vw;
}

 

 

#page1 button{
  background-color: transparent;
  color: #ff5a00;
  font-size: 1.2vw;
  font-weight: 400;
  z-index: 999;
  border: 3px solid #ff5a00;
  border-radius: 50px;
  padding: 0.8vw 1.8vw; 
  bottom: 5%;
 
}

#page1 button:hover{
  background-color: #ff5a00;
  color: #fff;
}


/* page2 */

#page2 {
  position: relative;
  height: 100vh;  
  width: 100vw;
  background-color: #fff;
}
#page2 img{
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
}

#page2 #page2-upper{
  position: absolute;
  width: 35%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: burlywood;

}

#page2 button{
  border: 3px solid black;
  border-radius: 50px;
  padding: 1vw 2vw;
  font-size: 1vw;
  font-weight: 450;
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}











/* page3 */

#page3{
  position: relative;
  height: 100vh;
  width: 100vw;
}
  
#page3 video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3 h1,h5{

  font-size: 5vw;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  text-align: center;  z-index: 999;
  font-weight: 800;
}

#page3 h5{

  font-size: 1.8vw;
  color: #fff;
  position: absolute;
  top: 45%;
  z-index: 999;
  font-weight: 800;
  

} 

#page3-written{
  display:flex;
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #fff;
}
.left3{
  position: relative;
  height: 100%;
  width: 50%;
  /* background-color: blue; */
}
.left3 h1{
  font-size: 2.3vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.right3{
  height: 100%;
  width: 50%;
  /* background-color: rgb(255, 247, 0); */
}
  
.right3 h3{
  padding-left: 4vw;
  font-size: 1.5vw;
  position: absolute;
  font-weight: 500;
  left: 65%;
  transform: translateX(-50%);
  top: 10%;
  color: gray;
}

  
.right3 button{
  border: none;
  border-radius: 50px;
  padding: 1vw 2vw;
  font-size: 1vw;
  font-weight: 450;
  background-color: #ff5a00;
  color: #fff;
  font-size: 1.3vw;
  position: absolute;
  bottom: 20%;
  margin-left: 1.2%;
}




/* page 4 */

#page4{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #f5f5f7;
}
  
